# Browsers that we support - comprehensive iPhone/Safari support

> 0.5%
last 3 versions
not dead
not ie 11
not op_mini all
Chrome >= 60
Firefox >= 60
Safari >= 11
Edge >= 79
iOS >= 11
iOS Safari >= 11